<footer>
    <div class="footer-info">
        <div class="f-info-social">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Privite Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Priviry</a>
            <a href="/term">Terms</a>
        </div>
    </div>
</footer>
