<style>
    .search-btn {
        background-color: #fe424d;
        color: white;
        /* border: none; */
        border-radius: 2rem;
        padding: 0.1rem 1rem;
    }

    .search-btn:hover {
        background-color: #ff5a65;
        color: white;
    }

    .search-btn i {
        display: inline;
        margin-right: 0.5rem;
    }

    .search-inp {
        border-radius: 2rem;
        padding: 0.5rem 3rem 0.5rem 3rem;
        font-size: 0.9rem;
    }
</style>

<!-- Navbar with links to different pages -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- Brand logo -->
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
        <!-- Button for collapsing the navbar on small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explores</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" aria-label="Search">
                    <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <% if (!currentUser) { %>
                <a class="nav-link" href="/signup"><b>Sign up</b></a>
                <a class="nav-link" href="/login"><b>Log in</b></a>
                <% } %>
                <% if (currentUser) { %> 
                <a class="nav-link" href="/logout"><b>Log out</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>