<% layout("/layouts/boilerplate") -%>

<!-- Container for displaying error messages -->
<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <!-- Display the error message -->
        <p><%= message %></p>
    </div>
</div>

